body, html{
  height:40%;
}
body{
  margin: 0px;
  background-size: 100% auto;
  font-size: 18px;
  background-color: #4d4d4d;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
#back{
  size:1000px ;
  background-image: url("projectzero/back.png");
  background-color: #cccccc;
}
#sub{
  height: 600px;
  margin:150px -500px 50px 30px;
  float: left;
}
#fight{
  position: fixed;
  height: 400px;
  margin: 0 300px 500px 300px;
}
#pTwo{
  height: 600px;
  margin:150px 30px 50px 100px;
  float: right;

}
#two {
  height: 40px;
  margin: 50px 10px 10px 10px;
  /*position: fixed;*/
  top: 200px;
  right: 50px;
}
.start{
  position: absolute;
  height: 20px;
  
  margin: 100px 30px 40px 50px;  
  right: 15px;
  top: 200px;
}

/*  top: -100px;*/



